@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*, *::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* primary */
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --white: hsl(228, 29%, 97%);

    /* neutral */
    --Dark-gray: hsl(0, 0%, 59%);

    /* (name and stats) */
    --Font-size: 18px
}

body {
    font-family: 'Kumbh Sans';
    background-color: var(--Dark-cyan);
    overflow: hidden;
}

.background {
    z-index: -1;
    position: absolute;
}

.top-bg img {
    transform: translateX(-50%);
}

.bottom-bg img {
    transform: translateX(50%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    border-radius: 1em 1em 1em 1em;
    background-color: var(--white);
    position: relative;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card-bg img {
    border-radius: 1em 1em 0 0;
}

.profile-img img {
    border-radius: 50%;
    border: .4em solid var(--white);
    margin-top: 5em;
    position: relative;
}

.profile-img::before {
    content: '';
    position: absolute;
    background: url(/images/bg-pattern-card.svg);
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 1em 1em 0 0;
    height: 35%;
}

.name {
    font-size: var(--Font-size);
    color: var(--Dark-gray);
    padding-top: .5em;
    margin-top: .5em;
    border-bottom: 1px solid hsla(0, 0%, 59%, 0.342);
    padding-bottom: 1.75em;
}

.name span:first-child {
    font-weight: 700;
    letter-spacing: 1px;
    padding-right: 6px;
    color: var(--Very-dark-desaturated-blue);
}

.state {
    margin-top: .75em;
    font-size: .8em;
}

.stats {
    display: flex;
    flex-direction: row;
    gap: 3em;
    padding-top: 2em;
    padding-right: 3.75em;
    padding-left: 3em;
    padding-bottom: 2em;
}

.stats p {
    letter-spacing: 2px;
    font-size: .65em;
    color: var(--Dark-gray);
}

.stats span {
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    font-size: 1.2em;
    font-weight: 700;
    color: var(--Very-dark-desaturated-blue);
}


